.navitem {
  display: block;
  background-color: magenta;
  color: blue;
}

.navitem:hover {
  display: block;
  background-color: yellow;
}
.navburger {
  float: right;
}

.topnav {
  display: flex;
}
