.App {
  text-align: center;
}

.motionDiv {
  text-align: center;
  background-color: magenta;
  color: white;
  width: 100%;
  display: block;
}

.Thingy {
  color: blueviolet;
}

.Button {
  background-color: rgb(0, 119, 93);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Button:hover {
  background-color: rgb(255, 30, 0);
}

.normal-line {
  stroke: blueviolet;
  stroke-width: 1px;
  fill: none;
}

.inputHolder {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.graphInput {
  width: 7%;
  margin: 0.2%;
  border-radius: 8px;
  text-align: center;
}

.interactiveGraph{
  padding: 30px;
  background-color: black;
  height: 100%;
}

.graphBtn{
  margin: 20px;
  color: white;
  padding: 5px;
  background-color: #ee11ee; 
  border-radius: 8px;
}

.graphBtn:hover{
  background-color: #ffaaff; 
  color: red;
}

.testinfo{
  color: white;
}

.axisgroup{
  stroke: white;
  color: white;
}

.axisgroupLine{
  stroke: white;
  color: white;
}

.chartHolder{
  display: flex;
  flex-direction: row;
}

.interactiveGraph{
  text-align: center;
}