.mazeTopContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
}

.mazeControl {
  width: 100%;
}

.Maze {
  min-width: 100%;
  justify-content: center;
}

.numberInput {
  width: 44px;
  margin: 10px;
  padding: 2px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
}

.enterButton {
  padding: 2px;
  background-color: magenta;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
}
